a.back-to-top {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    box-shadow: 0 0 1px #FFFFFF;
    color: #FFFFFF;
    display: none;
    padding: 5px 12px;
    position: fixed;
    right: 3px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    top: 85%;
    transition: all 0.3s ease 0s;
    font-size: 1.1em;
}

.coursebox.panel {
    border-radius: 2px;
    position: relative;
    background: #fafafa !important;
    border: 1px solid [[setting:tilesbordercolor]];
    height: 210px;
    margin-bottom: 20px;
}

.gradereport-grader-table img {
    max-width: none;
}

.singleselect {
    display: inline-block;
    max-width: 100%;
    width: 100%;
}

.panel-heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    padding: 12px 15px 10px;
    background-color: #f3f3f3;
    border-color: #e8eaeb;
    color: #555555;
}

.panel-heading a {
    font-size: 110%;
    font-family: 'Droid Sans',sans-serif;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
    display: inline-block;
}

.panel-body {
    padding: 15px;
}

ul.teachers {
    list-style-type: none;
    margin: 0 0;
    padding: 0 0;
    font-size: 90%;
}

.coursebox .boxfooter {
    clear: both;
    margin-bottom: 30px;
}

.btn.btn-info {
    background-image: none !Important;
    color: #FFFFFF;
    padding: 8px 15px;
    text-shadow: none;
}
.coursebox .coursebtn {
    bottom: 10px;
    position: absolute;
    right: 28%;
    width: 30%;
}

@media (max-width: 768px) {
    .coursebox .coursebtn {
        right: 15%;
        width: auto;
    }
    #page-site-index a.submit {
        display: block;
        margin: 0px auto 15px;
        text-align: center;
        white-space: normal;
        width: auto;
    }
}

/* Lesson */
.path-mod-lesson .answeroption .fcheckbox label, .path-mod-lesson .answeroption .fradio label {
    float: left;
    padding-left: 35px;
}


/* forum */
.forumpost .maincontent .left {
    padding: 0 10px 0 10px;
}
.forumpost .row .left {
    width: auto;
}
.forumpost .options .commands {
    margin-left: 0;
}
.forumpost .subject {
    font-weight: bold;
}
.forumsearch input[type=text] {
    margin-bottom: 0 !important;
}
#page-mod-lesson-edit .singleselect {
    width: auto;
}
#page-mod-forum-discuss .discussioncontrol.displaymode {
    text-align: left;
}
#page-mod-forum-discuss .discussioncontrols .discussioncontrol {
    float: none;
    width: 100%;
}
#page-mod-forum-discuss .discussioncontrols .discussioncontrol .singleselect {
    width: 100%;
}
#page-mod-forum-discuss .discussioncontrols .discussioncontrol .singleselect select.singleselect {
    display: block;
    width: auto;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#page-mod-forum-discuss .discussioncontrols .discussioncontrol .singleselect select.singleselect:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
#page-mod-forum-discuss .discussioncontrols .discussioncontrol .singleselect select.singleselect::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
#page-mod-forum-discuss .discussioncontrols .discussioncontrol .singleselect select.singleselect:-ms-input-placeholder {
  color: #999999;
}
#page-mod-forum-discuss .discussioncontrols .discussioncontrol .singleselect select.singleselect::-webkit-input-placeholder {
  color: #999999;
}
#page-mod-forum-discuss .discussioncontrols .discussioncontrol .singleselect select.singleselect[disabled],
#page-mod-forum-discuss .discussioncontrols .discussioncontrol .singleselect select.singleselect[readonly],
fieldset[disabled] #page-mod-forum-discuss .discussioncontrols .discussioncontrol .singleselect select.singleselect {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}
textarea#page-mod-forum-discuss .discussioncontrols .discussioncontrol .singleselect select.singleselect {
  height: auto;
}
#page-mod-forum-discuss .discussioncontrols .discussioncontrol.movediscussion {
  margin-top: 5px;
}
#page-mod-forum-discuss .discussioncontrols .discussioncontrol.movediscussion select.urlselect {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  width: auto;
  float: left;
}
#page-mod-forum-discuss .discussioncontrols .discussioncontrol.movediscussion select.urlselect:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
#page-mod-forum-discuss .discussioncontrols .discussioncontrol.movediscussion select.urlselect::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
#page-mod-forum-discuss .discussioncontrols .discussioncontrol.movediscussion select.urlselect:-ms-input-placeholder {
  color: #999999;
}
#page-mod-forum-discuss .discussioncontrols .discussioncontrol.movediscussion select.urlselect::-webkit-input-placeholder {
  color: #999999;
}
#page-mod-forum-discuss .discussioncontrols .discussioncontrol.movediscussion select.urlselect[disabled],
#page-mod-forum-discuss .discussioncontrols .discussioncontrol.movediscussion select.urlselect[readonly],
fieldset[disabled] #page-mod-forum-discuss .discussioncontrols .discussioncontrol.movediscussion select.urlselect {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}
textarea#page-mod-forum-discuss .discussioncontrols .discussioncontrol.movediscussion select.urlselect {
  height: auto;
}
#page-mod-forum-discuss .discussioncontrols .discussioncontrol.movediscussion.movediscussion {
  float: left;
}

.forumpost {
  background-color: transparent;
}

#page-mod-forum-discuss .forumpost .row .left.picture img, #page-site-index .forumpost .row .left.picture img {
    border: 5px solid #FFFFFF;
    border-radius: 270px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    height: 50px;
    padding: 1px;
    vertical-align: middle;
    width: 50px;
  margin-right: 10px;
}

.forumpost .subject {
    font-size: 1.8em;
    line-height: normal;
    font-weight: 400;
    padding: 15px 0 10px;
}

.forumpost .content {
  clear: both;
  padding: 0px 15px;
}

.forumpost .row.maincontent .left {
  float: none;
}

#page-mod-forum-discuss .forumpost .row .options .commands {
    color: #FAFAFA;
    display: inline-block;
    float: right;
}

#page-mod-forum-discuss .forumpost .row .options .commands a {
  font-size:11.9px;
  border: 1px solid #b4b4b7;
  background: #ecedf0;
  color: #333537;
  padding: 9px 12px 9px;
  line-height: 22px;
  text-decoration: none;
  border-radius: 3px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

#page-mod-forum-discuss .forumpost .row .options .commands a:hover {
  background: #1990d5;
  color: #fff;
  font-weight: 400;
}

.options.clearfix {
    padding: 15px 5px;
}

/*user menu */
.dropdown-menu.usermen {
  top: 23px;
  margin-left: -54px;
  left: -65px;
}

.usermen li {
  text-align: left;
}

.usermen {
  padding: 10px 0px;
}

.usermen i {
  padding-right: 5px;
}

.usermendrop {
/*	font-size: 115%; */
}

.usermendrop span {
  font-size: [[setting:topmenufontsize]];
    padding-right: 5px;
    height: 30px;
}

.dropdown-menu.usermen > li > a:hover, .dropdown-menu.usermen > li > a:active {
  background: #eee;
  background-color: #eee;
}

/*new message over */
#newmessageoverlay {
  width: 276px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  white-space: normal;
  position: fixed;
  top: inherit;
  left: inherit;
  bottom: 5px;
  right: 5px;
  display: block;
}
#newmessageoverlay.top {
  margin-top: -10px;
}
#newmessageoverlay.right {
  margin-left: 10px;
}
#newmessageoverlay.bottom {
  margin-top: 10px;
}
#newmessageoverlay.left {
  margin-left: -10px;
}
#newmessageoverlay.top > .arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: #999999;
  border-top-color: rgba(0, 0, 0, 0.25);
  bottom: -11px;
}
#newmessageoverlay.top > .arrow:after {
  content: " ";
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0;
  border-top-color: #ffffff;
}
#newmessageoverlay.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999999;
  border-right-color: rgba(0, 0, 0, 0.25);
}
#newmessageoverlay.right > .arrow:after {
  content: " ";
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #ffffff;
}
#newmessageoverlay.bottom > .arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -11px;
}
#newmessageoverlay.bottom > .arrow:after {
  content: " ";
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #ffffff;
}
#newmessageoverlay.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999999;
  border-left-color: rgba(0, 0, 0, 0.25);
}
#newmessageoverlay.left > .arrow:after {
  content: " ";
  right: 1px;
  border-right-width: 0;
  border-left-color: #ffffff;
  bottom: -10px;
}
#newmessageoverlay a {
  text-decoration: underline;
}
#newmessageoverlay #newmessagetext {
  margin: 0;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
#newmessageoverlay #usermessage {
  padding: 9px 14px;
  border: 1px dotted rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-top: 5px;
  background-color: #ffffff;
}
#newmessageoverlay #newmessagelinks {
  margin: 5px 14px;
}

.box.message .messagearea .messagehistory .box.center table.message_user_pictures td#user1,
.box.message .messagearea .messagehistory .box.center table.message_user_pictures td#user2 {
  display: block;
  height: 160px;
}
.box.message .messagearea .messagehistory .box.center table.message_user_pictures td#user1 img.userpicture,
.box.message .messagearea .messagehistory .box.center table.message_user_pictures td#user2 img.userpicture {
  border-radius: 50%;
}
.box.message .messagearea .messagehistory .box.center table.message_user_pictures td#user1 img.userpicture {
  border: 3px solid #d6e9c6;
}
.box.message .messagearea .messagehistory .box.center table.message_user_pictures td#user2 img.userpicture {
  border: 3px solid #bce8f1;
}
.box.message .messagearea .messagehistory .messagehistorytype {
  color: #FFF;
  padding: 5px 15px;
  border-bottom: 1px solid #dddddd;
  border: 0;
}
.box.message .messagearea .messagehistory .messagehistorytype > li {
  float: left;
  margin-bottom: -1px;
}
.box.message .messagearea .messagehistory .messagehistorytype > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.box.message .messagearea .messagehistory .messagehistorytype > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
.box.message .messagearea .messagehistory .messagehistorytype > li.active > a,
.box.message .messagearea .messagehistory .messagehistorytype > li.active > a:hover,
.box.message .messagearea .messagehistory .messagehistorytype > li.active > a:focus {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
  cursor: default;
}
.box.message .messagearea .messagehistory .messagehistorytype.nav-justified {
  width: 100%;
  padding: 10px 0 0 0;
  border-bottom: 0;
}
.box.message .messagearea .messagehistory .messagehistorytype.nav-justified > li {
  float: none;
}
.box.message .messagearea .messagehistory .messagehistorytype.nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}
.box.message .messagearea .messagehistory .messagehistorytype.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}


/*login block */
.block_login label {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  color: #666;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: 400;
}

.block_login .username label:before {
  content:"\f007";
  font-family: FontAwesome;
  margin-right: 5px;
  color: #999;
}

.block_login .password label:before {
  content:"\f084";
  font-family: FontAwesome;
  margin-right: 5px;
  color: #999;
}

.block_login2 .btn,
.block_login2 .content .footer a {
    background-color: #5cb85c;
    background-image: none;
    border-color: #30ADD1;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 4px 12px;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    margin: 10px 0;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    width: 100%;
}

.block_login2 .btn:hover {
  background: #388f9d !important;
}

#page-login-index2 #loginbtn {
  background: #4f9e4f;
    background-color: #4f9e4f;
    text-shadow: none;
}

.block_login2 .content .footer div:nth-child(1) a, #page-login-index2 .forgetpass a {
  color: #fff;
  text-align: center;
  background-color: #ee981e;
  border-color: #ee981e;
  background-image: none !important;
  font-family: 'Open Sans',sans-serif;
  font-weight: 600;
}

#page-login-index2 .forgetpass a {
    display: block;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: 10px;
    max-width: 260px;
    text-shadow: none;
}


#page-login-index2 .forgetpass {
    clear: both;
    float: right;
    text-align: left;
    width: 66%;
}

.loginbox .loginpanel .desc {
    clear: both;
}

@media (max-width: 778px) {
    #page-login-index2 .forgetpass {
        clear: both;
        float: none;
        margin: 0 auto;
        text-align: center;
        width: 50%;
        min-width: 200px;
    }
}

@media (max-width: 520px) {
    .dropdown-menu.usermen {
        left: 35%;
        top: 15px;
    }
}

.signuppanel .row .btn {
    display: none;
}

.coursebox.panel ul.teachers li {
    display: [[setting:tilesshowallcontacts]];
}

.coursebox.panel ul.teachers li:first-child {
    display: block;
}

#changenumsections .smallicon {
    width: 24px;
}

#id_category, #id_parent {
    width: 100%;w
    max-width: 100%;
}

.coursebox .panel-heading {
    padding: 12px 10px 10px;
}

.coursebox .panel-heading a {
    font-size: 105%;
}

/*new ticker */
#ticker, #ticker_container {
  font-size: 16px;
}

#ticker-wrap {
  position: relative;
  margin-bottom: 15px;
  margin-top: 15px;
  background: #eee;
  line-height: 40px;
  [[setting:tickerwidth]]
}

#page-site-index #ticker-wrap {
  display: block;
}

#ticker-announce {
  background: [[setting:maincolor]];
  padding: 0px 15px;
  color: #eee;
  margin-right: 15px;
  text-transform: uppercase;
  font-weight: 600;
}

#ticker-wrap #controls {
  padding-right: 15px;
}

#ticker-wrap #controls a {
  color: [[setting:maincolor]];
}

#ticker-wrap #newscontent {
  max-width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#ticker-wrap #newscontent #news {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 895px) {
  #ticker-announce {
    float: none;
    margin: 0 0;
    text-align: center;
  }

  #ticker-wrap #newscontent {
    max-width: inherit;
    overflow: inherit;
    white-space: normal;
    padding: 10px 10px 10px;
    line-height: normal;
  }

  #ticker-wrap #newscontent #news {
    white-space: normal;
  }

  #ticker-wrap #controls {
    display: none;
  }
}
