/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0; background: #fff; position: relative; zoom: 1;}

.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.dir-rtl .flex-viewport {direction: ltr; max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}

.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

/* Direction Nav */
.flex-direction-nav a {width: 30px; height: 100%; display: block; position: absolute; top: 0%; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background: url([[pix:theme|next]]) no-repeat 50% 50%; right: -25px; opacity: .5;}
.flex-direction-nav .flex-prev {background: url([[pix:theme|previous]]) no-repeat 50% 50%; left: -25px; opacity: .5;}
.flexslider:hover .flex-next {opacity: 1;}
.flexslider:hover .flex-prev {opacity: 1;}
.flexslider:hover .flex-next:hover { opacity: 1;}
.flexslider:hover .flex-prev:hover { opacity: 1;}
.flex-direction-nav .disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Direction Nav (Blog Slider) */
.image-slider .flex-direction-nav a {opacity: 0;}
.image-slider .flex-direction-nav .flex-next {background: #333 url([[pix:theme|s_icon_next_w]]) no-repeat 50% 50%; right: 0;}
.image-slider .flex-direction-nav .flex-prev {background: #333 url([[pix:theme|s_icon_prev_w]]) no-repeat 50% 50%; left: 0;}
.image-slider:hover .flex-next {opacity: .3;}
.image-slider:hover .flex-prev {opacity: .3;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: 10px; text-align: center;}
.flex-control-nav li {margin: 0 4px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 8px; height: 8px; display: block; background: #666; background: rgba(0,0,0,0.1); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.5); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .active {opacity: 1; cursor: default;}

/* Caption style */
/* IE rgba() hack */
.flex-caption {background:none; -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); zoom: 1;}
.flex-caption { 
    position: absolute;
    top: 0;
    right: 0;
    height: 55%;
    width: 30%;
    padding: 40px 30px 40px 30px;
    margin: 5% 0;
    font-weight: bold;
    text-align: right;
    background: rgba(0, 150, 136, 0.7);
}

.flex-caption h1,
.flex-caption h2,
.flex-caption h3,
.flex-caption h4 {
    color: [[setting:sliderh3color]]; 
    letter-spacing: 1px; 
    margin-bottom: 0px; 
    text-transform: uppercase; 
    font-size: 3.3em; 
    line-height: 1.2em; 
    height: 100%;
    display: block;
}

.flex-caption:before,
.flex-caption:after,
.flex-caption h1:before,
.flex-caption h2:before,
.flex-caption h3:before,
.flex-caption h4:before,
.flex-caption h1:after,
.flex-caption h2:after,
.flex-caption h3:after,
.flex-caption h4:after{
    content: "";
    position: absolute;
    left: -15px;
    top: 0;
    height: 100%;
    width: 8px;
    background: #94ebe8;
}

.flex-caption:after {
    top: auto;
    bottom: 0;
    height: 90%;
    background: #ff7100;
}

.flex-caption h1:before,
.flex-caption h2:before,
.flex-caption h3:before,
.flex-caption h4:before,
.flex-caption h1:after,
.flex-caption h2:after,
.flex-caption h3:after,
.flex-caption h4:after {
    background: #009b95;
    z-index: 2;
    height: 40%;
    top: 10%;
}

.flex-caption h1:after,
.flex-caption h2:after,
.flex-caption h3:after,
.flex-caption h4:after {
    background: #ffa900;
    top: auto;
    bottom: 10%;
}

.flex-caption h4 {color: [[setting:sliderh4color]]; letter-spacing: 1px; margin-bottom: 20px; font-size: 1em;}
.flex-caption p {margin: 0 0 15px;}
.flex-caption .submit {margin-right: 10px; float:right; color: [[setting:slidersubmitcolor]] !important; background: [[setting:slidersubmitbgcolor]]}

#main-slider {
    margin: 0px 0px 10px;
}

.slides li {
    position: relative;
}

.flex-control-nav {
    margin-bottom: -40px;
}

.flex-direction-nav {
  display: none;
}


/*new slider style */

/* Direction Nav */
.slidestyle2 .flex-direction-nav a {width: 30px; height: 100%; display: block; position: absolute; top: 0%; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.slidestyle2 .flex-direction-nav .flex-next {height:35px; width: 30px; top: 46%; background: [[setting:slideroption2a]] url([[pix:theme|next]]) no-repeat 50% 50%; right: 15px; opacity: 1; background-size: auto 24px;}
.slidestyle2 .flex-direction-nav .flex-prev {height:35px; width: 30px; top: 46%; background: [[setting:slideroption2a]] url([[pix:theme|previous]]) no-repeat 50% 50%; left: 15px; opacity: 1; background-size: auto 24px;}

/* Caption style */
/* IE rgba() hack */
.slidestyle2 .flex-caption {background:none; -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); zoom: 1;}
.slidestyle2 .flex-caption { top: 35%; color: inherit; margin: 0; padding: 0px 0px 0px;
 position: absolute; right: 0; width: 100%; text-align: center;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
 }

 .slidestyle2 .flex-caption .span6 {
   margin-left: 6%;
 }
 
 /*for css transitions on larger screens */
 @media screen and (min-width: 960px) {
 .slidestyle2 .flex-caption {
   right: -800px;
 }

 .slidestyle2 .flex-active-slide .flex-caption {
 right: 0px;
 -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  }
  }

.slidestyle2 .flex-caption h3 {
    background: [[setting:slider2h3bgcolor]];
    color: [[setting:slider2h3color]];
    display: block;
    font-size: 16px;
    font-weight: 800;
    line-height: 20px;
    margin: 0px;
    margin-left: 30px;
    padding: 5px 15px;
    float:left;
    text-transform: uppercase;
    max-width: 1170px;
    clear: both;
}

.slidestyle2 .flex-caption h4 {
    font-size: 22px;
    line-height: 32px;
    background: [[setting:slider2h4bgcolor]];
    clear: both;
    padding: 15px;
    text-align: left;
    margin-bottom: 0px;
    color: [[setting:slider2h4color]];
    font-weight: normal;
    text-decoration: none !important;
}

.slidestyle2 a:hover .flex-caption h4, .slidestyle2 a:hover .flex-caption h3, .slidestyle2 a:hover h4, .slidestyle2 *:hover {
  text-decoration: none !important;
}

.slidestyle2 .flex-caption p {margin: 0 0 15px; color: #333;}

.slidestyle2 .flex-caption a.submit {
    display: block;
    font-size: 16px;
    margin: 0px;
    margin-left: 30px;
    float: right;
    padding: 8px 15px;
    text-transform: uppercase;
    text-align: left;
    border: 0px solid #ab3423;
    background: [[setting:slideroption2color]] !important;
    color: [[setting:slideroption2submitcolor]] !important;
    border-radius: 0px;
    box-shadow: none;
}

.slidestyle2 .flex-direction-nav {
  display: inherit;
}

.slidestyle2 .flex-control-nav.flex-control-paging {
  display: none;
}

.slidestyle2 #main-slider {
    margin: 0;
}

@media screen and (max-width: 1280px) {
    .flex-caption h3 {
        font-size: 2.3em;
    }
}

@media screen and (max-width: 1024px) {
    .flex-caption {
        padding: 25px;
        margin: 4% 0;
    }
    
    .flex-caption h3 {
        font-size: 1.9em;
    }

    .slidestyle2 .flex-caption h3 {
        max-width: 970px;
    }
}

@media screen and (max-width: 989px) {

  .slidestyle2 .flex-caption br {
    display: none;
  }

  .slidestyle2 .flex-caption {
    top:25%;
  }

  .slidestyle2 .flex-direction-nav {
    display: none;
  }

  .slidestyle2 .flex-caption h4 {
    font-size: 23px;
    line-height: 30px;
  }

  .slidestyle2 .flex-caption a.submit {
    font-size: 14px;
    float: none;
    white-space: normal;
    width: auto;
  }
}

@media screen and (max-width: 768px) {

  .slidestyle2 .flex-caption {
     position: relative;
     top:auto;
     left: 0px;
     background: transparent !important;
  }

   .slidestyle2 .flex-caption .span6 {
   margin-left: 0%;
   }

  .slidestyle2 .flex-caption a.submit {
    margin: 0 0;
    float: none;
    width: auto;
    text-align: center;
  }

  .slidestyle2 .flex-caption h3 {
    margin-left: 0px;
    background: #000;
    margin: 0px !Important;
  }

  .slidestyle2 .flex-caption h4 {
    font-size: 18px;
    line-height: 22px;
    padding: 10px 0;
  }

    .flex-caption {
        width: auto !important;
        padding: 7px 5px !important;
        position: relative !important;
        margin-top: -1px !important;
        background: #009b95;
        font-size: 0.7em;
        text-align: left;
    }

    .flex-caption:before,
    .flex-caption:after,
    .flex-caption h3:before,
    .flex-caption h3:after {
        display: none;
    }
}